* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ffffe3;
  --secondary-color: #ffffe3;
  --bg-color: #f16725;
  --bg-color2: #fdb913;
  --bg-color3: #ff5555;
  --bg-color4: #fff;
  --bg-color5: #e04802;
}

body {
  font-family: "poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: var(--primary-color);
  height: 100%;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1% 6%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.135);
}

.nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo2 {
  display: none;
}

.nav-bar {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-list {
  display: flex;
  gap: 10px;
  font-weight: 500;
}

.nav-list a {
  color: black;
  font-size: 18px;
}

.nav-list a:hover {
  color: #fdb913;
}

/*.nav-link a{
    margin-right: 5px;
    text-decoration: none;
    color: #f16725;
    font-weight: 500;
    border: 1px solid #f16725;
    height: 38px;
    width: 100px;
    padding: auto;
} */

.nav-link button {
  border: 1px solid #f16725;
  height: 38px;
  width: 120px;
  font-weight: bold;
}

.nav-button1 {
  background-color: transparent;
  border: 2px solid #f16725;
  border-radius: 30px;
  color: #f16725;
}

.nav-button1 a {
  color: #f16725;
}

.nav-button1 a:hover {
  color: #fff;
  transition: 0s;
}

.nav-button1:hover {
  background-color: #f16625;
  color: #fff;
}

.nav-button2 {
  background-color: var(--bg-color);
  border-radius: 6px;
  color: #fff;
}

.nav-button2:hover {
  background-color: #e04802;
}

.nav-button2 a {
  color: #fff;
}

/*page 1*/
.main-page {
  background-color: var(--primary-color);
  padding: 6% 6%;
}
.main-page1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.paga1 {
  padding-right: 7px;
}

.paga1-txt h1 {
  font-size: 55px;
  margin: 7px 0;
  width: 100%;
}

.paga1-txtp {
  max-width: 80%;
  font-size: 19px;
}

.paga1-txt1 {
  margin-top: 30px;
  font-style: none;
}

.paga1-txt1 a {
  height: 40px;
  padding: 10px;
  color: #f16725;
  text-decoration: none;
}

.paga1-txt-but {
  background-color: var(--bg-color);
  margin-right: 10px;
  border: #f16725;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}

.paga1-txt-but:hover {
  background-color: #e04802;
}

.paga1-txt-but a {
  color: #fff;
}

.paga1-txt1-a:hover {
  color: #e04802;
}

.paga1-img {
  padding: 10px;
}

.paga1 img {
  max-height: 500px;
  max-width: 500px;
}

/* page 2*/
.page2 {
  margin: 5% 7%;
}

.page2 h2 {
  font-weight: bold;
  font-size: 30px;
}

.page2-bcontainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px 0;
  margin-top: 30px;
}

.page2-box {
  background-color: var(--primary-color);
  padding: 20px;
  max-width: 300px;
  max-height: 250px;
  margin: 0;
  border: 0;
  box-shadow: 0 0 0.7px;
  border-radius: 15px;
}

.page2-box h2 {
  color: var(--bg-color);
  font-size: 17px;
  margin: 10px 0;
  max-width: 100%;
}

.page2-box p {
  font-size: 14px;
}

.page2-box a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--bg-color);
  margin-bottom: 0;
  margin-top: 30px;
  text-decoration: none;
}

.page2-box a:hover {
  color: #e04802;
}

/*page 3*/
.page3 {
  text-align: center;
  max-height: 500px;
  padding: 2% 6%;
  margin-top: 6%;
  margin-bottom: 6%;
}

.sec-page3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sec-page3 h3 {
  background-color: #fdb913;
  width: 120px;
  border-radius: 30px;
  color: #fff;
  padding: 3px;
}

.page3 h1 {
  font-size: 40px;
  margin-top: 10px;
}

.page3-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 3%;
  margin-bottom: 6%;
}

.page3-box {
  padding: 0 20px;
}

.page3-box p {
  font-size: 14px;
}

/*page 4*/

.page4 {
  background-color: var(--primary-color);
  padding: 0% 6%;
}

.sec-page4 {
  padding: 2% 6%;
}

.page4 h1 {
  font-size: 35px;
  padding-top: 20px;
}

.page4 p {
  color: #ff5555;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.page4-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1fr 3);
  gap: 5px;
  align-items: center;
}

.page4-box {
  max-width: 30%;
}

.page4-box img {
  border-radius: 10px;
}

/*page 5*/
.page5 {
  background-color: #fff;
}

.sec-page5 {
  background-color: var(--bg-color);
  margin: 5% 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 3% 6%;
}

.page5-txt p {
  display: block;
  background-color: #fdb913;
  color: #fff;
  font-weight: bold;
  width: 25%;
  padding: 2%;
  padding: 4px;
  height: 26px;
  border-radius: 15px;
  font-size: 14px;
  text-align: center;
}

.page5-txt h2 {
  font-size: 35px;
  color: #fff;
  line-height: 50px;
  margin: 5px 0;
}

.page5-txt h4 {
  line-height: 20px;
  max-width: 74%;
  margin-bottom: 15px;
  color: #fff;
  font-size: 14px;
}

.page5-txt-but {
  display: flex;
  align-items: center;
  gap: 15px;
}

.page5-txt-but1 a {
  color: var(--bg-color);
}

.page5-txt-but2 a {
  color: var(--bg-color4);
}

.page5-txt-but1 {
  background-color: var(--bg-color4);
  color: var(--bg-color);
  border: 2px #fff;
  height: 30px;
  width: 130px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
}

.page5-txt-but1:hover {
  background-color: #ffffffd8;
}

.page5-txt-but2 {
  background-color: var(--bg-color);
  color: #fff;
  border: 1px solid #fff;
  height: 30px;
  width: 110px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
}

.page5-txt-but2:hover {
  background-color: var(--bg-color5);
  border: 2px solid #e04802;
}

.page5-txt-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 15px;
}

.page5-txt-img img {
  width: 120px;
}

/*.sec-pagaV-img3{
    margin-left: 50%;
}


.page5-txt-img img{
    width:150px;
}


/*page 6*/

.sec-page6 {
  text-align: center;
  padding: 2% 6%;
}

.page6-profile {
  margin: 6% 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 20px;
  padding: 0 10px;
}

.page6-box {
  text-align: center;
}

.page6-box h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page6-box p {
  text-align: center;
  font-size: 14px;
}

/*page 7*/
.page7 {
  margin-top: 7%;
  margin-bottom: 4%;
}

.sec-page7 {
  margin: 3% 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sec-page7 h2 {
  font-size: 50px;
  justify-content: start;
}

.sec-page7 img {
  width: 100%;
}

/*page 8*/
.sec-page8 {
  margin: 3% 10%;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 0% 4%;
}

.sec-page8-txt p {
  display: block;
  background-color: #fdb913;
  color: #fff;
  font-weight: bold;
  width: 38%;
  padding: 5px 7px;
  border-radius: 15px;
}

.sec-page8-txt h2 {
  max-width: 50%;
  margin: 20px 0;
  color: #fff;
}

.sec-page8-txt-img {
  margin-top: 50px;
  width: 300px;
}

.page8-img img {
  margin-top: 7px;
  margin-bottom: -0px;
  padding-bottom: -3px;
}

/*footer*/

.footer {
  background-color: var(--primary-color);
  margin-top: 10%;
  padding: 2% 2%;
  width: 100%;
}

.foot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
}

.foot1 {
  max-width: 30%;
}

.foot1 p {
  font-size: 14px;
  margin: 10px 0;
  line-height: 25px;
}

.foot1-social {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.foot1-social i {
  font-size: 14px;
}

.foot-box {
  max-width: 20%;
}

.foot-box h2 {
  font-size: 17px;
  margin-bottom: px;
}

.foot-box ul {
  padding: 0;
}

.foot-box li {
  line-height: 30px;
}

.bi {
  font-size: 16px;
  color: #ff5555;
  padding: 10px;
}

.foot5 .bi {
  gap: 20px;
}

.foot5 ul {
  margin-bottom: 80px;
}

.foot5 li {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 5px;
}

.foot5 p {
  font-size: 14px;
  padding-left: 10px;
}

.f5 {
  padding: 0;
}

/* smaller phone */
@media screen and (max-width: 250px) {
  .nav-list {
    display: none;
  }
}

/* phone */

@media (min-width: 250px) and (max-width: 500px) {
  /*--- navbar ---*/

  .logo {
    margin: 10px 0;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
  }

  .navbar {
    height: 200%;
  }

  #myLinks {
    display: none;
  }

  .nav-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
  }

  .nav-bar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 20px;
  }

  .nav-bar ul li {
    border-bottom: 1px solid;
  }

  .nav-list a {
    color: #e04802;
    font-size: 16px;
  }

  .nav-list a:hover {
    transform: translateX(3px);
  }

  .nav-list a:active {
    color: #fdb913;
  }

  .nav-link,
  .flag {
    display: none;
  }

  .nav-logo2 {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px 5px;
    background-color: #f16625f2;
    background-clip: text;
    font-size: 35px;
    color: transparent;
  }

  .main-page1 {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .main-page1 h1 {
    font-size: 20px;
  }

  .paga1-txtp {
    max-width: 100%;
    font-size: 16px;
  }

  .paga1-txt-but {
    margin-top: -30px;
    font-size: 10px;
    max-width: 100px;
    margin-right: 0;
    padding: 0 5px;
  }

  .paga1-txt1 a {
    font-size: 10px;
  }

  .paga1-img img {
    max-width: 600px;
    max-height: 200px;
    margin-left: 20px;
  }

  /* page 2 */

  .pageii {
    margin-top: 30%;
  }

  .page2 h2 {
    font-size: 20px;
  }

  .page2-bcontainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    text-align: center;
  }

  .page2-box h2 {
    font-size: 14px;
  }

  .page2-box {
    max-width: 120%;
    padding: 0 3px;
    box-sizing: border-box;
    box-shadow: 0 0 5px;
  }

  .page2-box a {
    display: block;
    margin-top: 10px;
  }

  .page2-box-img {
    width: 40px;
    height: 40px;
  }

  /* page 3 */

  .page3 {
    margin-bottom: 20%;
  }
  .sec-page3 h3 {
    font-size: 10px;
  }
  .sec-page3 h1 {
    font-size: 14px;
  }

  .page3-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .page3-box img {
    width: 50px;
  }

  .page3-box h2 {
    font-size: 16px;
    color: #ff5555;
  }

  .page3-box {
    border: 1px solid;
    border-radius: 5px;
    padding: 20px;
    height: 150px;
    box-shadow: 0 0 12px;
  }

  /*page 4*/
  .page4 h1 {
    font-size: 20px;
  }

  .page4 p {
    font-size: 10px;
  }

  .page4-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .page4-box img {
    width: 150px;
  }

  .page4-last {
    margin-left: 50%;
  }
  /* page 5 */

  .page5 {
    padding: 3% 3%;
  }

  .sec-page5 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 3% 2%;
  }

  .page5-txt p {
    font-size: 12px;
    padding: 9px 10px;
    width: 100%;
    text-align: center;
  }

  .page5-txt h1 {
    font-size: 30px;
    line-height: 5px;
  }

  .page5-txt h4 {
    font-size: 14px;
    max-width: 100%;
  }

  .page5-txt-img img {
    width: 100px;
  }

  /* page 6 */
  .page6-profile {
    display: grid;
    grid-template-columns: 1fr;
  }

  /* page 7 */
  .sec-page7 h2 {
    text-align: center;
    font-size: 20px;
  }

  .sec-page7 img {
    margin: 0 auto;
    width: 300px;
  }

  /* page 8 */
  .sec-page8 {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .sec-page8-txt p {
    font-size: 16px;
    margin-top: 10px;
    width: 80%;
    margin: 0 auto;
    margin-top: 2px;
    text-align: center;
  }

  .sec-page8-txt h2 {
    font-size: 20px;
    max-width: 100%;
    margin-bottom: 3px;
    padding: 2px 15px;
    margin-top: 4px;
  }

  .sec-page8-txt-img {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .sec-page8-txt-img img {
    width: 100px;
    margin-top: 0;
  }

  .page8-img {
    padding: 0;
  }

  .page8-img img {
    width: 200px;
    margin-bottom: -4px;
  }

  /* footer */

  .foot {
    text-align: center;
    display: grid;
    grid-column-start: 2;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-start: 2;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }

  .foot-box {
    max-width: 100%;
  }

  .foot1-social {
    display: inline-block;
    justify-content: center;
  }

  .foot-5 li {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .foot5 ul {
    margin-bottom: 20px;
  }
}

/* ipad */

@media (min-width: 500px) and (max-width: 960px) {
  .navbar {
    height: 50px;
  }

  nav .logo img {
    width: 100px;
    left: 0;
  }

  .nav-box {
    gap: 5px;
    width: 100%;
  }

  .nav-box-logo {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .nav-logo2 {
    display: none;
  }

  /* nav-bar {
        position: absolute;
        left: 0;
        top: 100%;
        max-width: 100%;
        text-align: center;
        background-color: var(--primary-color);
        margin: 0 auto;
    } */

  .nav-list a {
    color: #e04802;
    font-size: 14px;
  }

  .flag {
    display: none;
  }

  .nav-link {
    display: flex;
    gap: 10px;
  }

  .nav-link button {
    width: 90px;
    height: 35px;
  }

  /* page 1 */

  .main-page1 {
    display: flex;

    align-items: start;
  }

  .main-page1 h1 {
    font-size: 30px;
  }

  .paga1-txtp {
    max-width: 100%;
    font-size: 16px;
  }

  .paga1-txt-but {
    display: block;
    margin-top: -20px;
  }

  .paga1-img img {
    display: flex;
    justify-content: center;
  }
  .paga1-img img {
    max-width: 400px;
    max-height: 300px;
  }

  /* page 2 */

  .pageii {
    margin-top: 10%;
  }

  .page2-bcontainer {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    text-align: center;
  }

  .page2-box h2 {
    font-size: 14px;
  }

  .page2-box {
    max-width: 120%;
    padding: 0 3px;
    box-sizing: border-box;
    box-shadow: 0 0 2px;
  }

  .page2-box a {
    display: block;
    margin-top: 10px;
  }

  .page2-box-img {
    width: 40px;
    height: 40px;
  }

  /* page 3 */

  .sec-page3 h3 {
    font-size: 16px;
  }
  .sec-page3 h1 {
    font-size: 30px;
  }

  .page3-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
  }

  .simple {
    margin: 0 auto;
  }

  .page3-box img {
    width: 50px;
  }

  .page3-box h2 {
    font-size: 16px;
    color: #ff5555;
  }

  /*page 4*/
  .page4 h1 {
    font-size: 25px;
  }

  .page4 p {
    font-size: 12px;
  }

  .page4-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .page4-box img {
    width: 150px;
  }

  .page4-las,
  .page4-last {
    margin-left: 50%;
  }
  /* page 5 */
  .sec-page5 {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .page5-txt p {
    display: block;
    font-size: 16px;
    padding: 5px 10px;
    width: 100%;
    text-align: center;
  }

  .page5-txt h1 {
    font-size: 30px;
  }

  .page5-txt h4 {
    font-size: 14px;
    max-width: 100%;
  }

  /* page 6 */
  .page6-profile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /* page 7 */
  .sec-page7 h2 {
    text-align: center;
    font-size: 40px;
  }

  .sec-page7 img {
    margin: 0 auto;
    width: 600px;
    height: 250px;
  }

  /* page 8 */
  .sec-page8 {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .sec-page8-txt p {
    font-size: 14px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }

  .sec-page8-txt h2 {
    font-size: 30px;
    max-width: 100%;
    margin-bottom: 10px;
  }

  .sec-page8-txt-img img {
    width: 150px;
    margin-top: 0;
  }

  .sec-page8-txt-img {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
  }

  .page8-img {
    padding: 0;
  }

  .page8-img img {
    width: 200px;
    margin-bottom: -5px;
  }

  /* footer */

  .foot {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    margin: 0 10%;
    width: 100%;
  }

  .foot-box {
    max-width: 100%;
  }

  .foot1-social {
    display: inline-block;
    justify-content: center;
  }

  .foot5 ul {
    margin-bottom: 20px;
  }
}
